@use "abstracts/functions";

.radio-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  + .radio-wrapper {
    margin-top: 15px;
  }

  .radio-indicator {
    width: 30px;
    height: 30px;
    margin-right: 23px;
    background-color: var(--white);
    border: 5px solid var(--white);
    border-radius: 50%;
    transition: background-color 0.2s ease-out;
  }

  .radio-label {
    font-size: 16px;
    font-weight: var(--weight-font-bold);
    line-height: 1.6;
    color: var(--white);
  }

  .radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ .radio-indicator {
      background-color: var(--turquoise55);
    }
  }
}
