@use 'abstracts/functions';
@use 'abstracts/mixins/appearance';

.modal-container {
  .close-button {
    position: absolute;
    top: 1px;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 10px 15px;

    svg {
      width: 25px;
      height: 25px;
      fill: functions.palette(white);
    }
  }

  .modal {
    @include appearance.modal;
  }
}
