@use "abstracts/mixins/typography";
@use "abstracts/functions";
@use "abstracts/mixins/base";

.guided-experience-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  // justify-content: space-between;
  justify-content: center;
  padding: 8px 0 12px;

  .middle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .guided-experience-subheading {
    @include typography.subheading-guided-experiences;
    margin: 0 auto;
  }

  .guided-experience-heading {
    margin: 0;

    @include base.fluid-scale(
      margin-top,
      30px,
      0,
      functions.break(desktop),
      functions.break(tablet)
    );
  }

  .guided-experience-link {
    background-color: transparent;
    border: 0;
    stroke: var(--white);

    &:disabled {
      opacity: 0.45;
    }

    svg {
      @include base.fluid-scale(
        height,
        58px,
        20px,
        functions.break(desktop),
        functions.break(tablet)
      );

      @include base.fluid-scale(
        stroke-width,
        3px,
        7px,
        functions.break(desktop),
        functions.break(tablet)
      );
    }
  }
}
