.mainHeader {
  z-index: var(--elevation-element-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  height: var(--size-height-menu, var(--size-spacing-l));
  padding-inline: var(--size-spacing-2xs);

  &[data-theme="primary"] {
    background-color: var(--black);
  }

  &[data-theme="secondary"] {
    background-color: var(--color-rubin-teal-600);
  }

  .main-menu-button {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;

    svg {
      color: var(--white);
    }
  }
}

.closeButton {
  display: inline-flex;
}
