/* stylelint-disable no-descending-specificity */
@use "abstracts/functions";
@use "abstracts/mixins/appearance";
@use "abstracts/mixins/typography";

.main-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  .main-menu-content-wrapper {
    flex-grow: 1;
    overflow-y: auto;
  }

  .main-menu-nav,
  .quick-access-nav {
    @include typography.list-unstyled;
  }

  .main-menu-nav-items,
  .quick-access-nav-items {
    padding: 12px 0 0 25px;
  }

  .main-menu-nav-item,
  .quick-access-nav-item {
    > a,
    > button {
      --button-text-align: left;
      --button-background-color: transparent;
      --button-border-color: transparent;

      display: flex;
      align-items: center;
      color: functions.palette(white);
      padding: 4px 0;
      font-size: 16px;
      font-weight: functions.font-weight(bold);
      line-height: 1;
      border: 0;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    .notifications-item,
    .language-item {
      svg {
        color: functions.palette(turquoise50);
      }
    }

    .share-item,
    .adjustments-item,
    .help-item,
    .about-item {
      svg path {
        stroke: functions.palette(turquoise50);
      }
    }

    + .main-menu-nav-item {
      margin-top: 20px;
    }
  }

  .quick-access-nav-item {
    svg {
      width: 23px;
      height: 23px;

      + span {
        padding-left: 12px;
      }
    }
  }
}

.locale-menu {
  position: relative;

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--PADDING_SMALL);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px 34px;
  }
}

.about-menu {
  .menu-section {
    p {
      color: functions.palette(white);

      + p {
        margin-top: 14px;
      }
    }
  }
}
