.iconToggle {
  composes: iconButton from "../IconButton/styles.module.css";

  --color-background-button: #313333;
  --color-background-button-hover: #313333;
  --color-text-button: var(--color-font-invert);
  --color-outline-button: #0f8fff;

  &[data-checked] {
    background-color: var(--color-rubin-teal-300);
  }
}
