@use 'abstracts/functions';

.c-contact-info {
  &__item {
    display: flex;
    align-items: baseline;

    & + & {
      margin-top: 0.5em;
    }

    > * + * {
      margin-left: functions.px-to-em(17px);
    }
  }

  &__icon {
    position: relative;
    top: -1 * functions.px-to-em(6px);
    flex-shrink: 0;
    align-self: flex-start;
    color: functions.palette(turquoise60);
  }
}
