@use 'abstracts/functions';
@use 'abstracts/mixins/typography';

.accordion {
  background-color: functions.palette(neutral10);

  + .accordion {
    border-top: 1px solid functions.palette(neutral30);

  }

  &.is-expanded + .accordion {
    border-top: 0;
  }
}

.accordion-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 7px 12px;
  background-color: functions.palette(neutral20);

  .accordion-title {
    font-size: 12px;
    font-weight: functions.font-weight(bold);
    color: functions.palette(black);
  }

  .accordion-icon {
    width: 10px;
    height: 10px;
    fill: functions.palette(black);
  }
}

.accordion-inner {
  padding: 12px;
}
