@use "abstracts/functions";
@use "abstracts/mixins/typography";

.accordion {
  background-color: var(--neutral10);

  + .accordion {
    border-top: 1px solid var(--neutral30);
  }

  &.is-expanded + .accordion {
    border-top: 0;
  }
}

.accordion-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 7px 12px;
  background-color: var(--neutral20);

  .accordion-title {
    font-size: 12px;
    font-weight: functions.font-weight(bold);
    color: var(--black);
  }

  .accordion-icon {
    width: 10px;
    height: 10px;
    fill: var(--black);
  }
}

.accordion-inner {
  padding: 12px;
}
