.iconButton {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-background-button);
  color: var(--color-text-button);
  cursor: pointer;
  width: var(--size-spacing-l);
  transition: background-color 0.4s;
  pointer-events: initial;

  --color-background-button: #313333;
  --color-background-button-hover: #313333;
  --color-text-button: var(--color-font-invert);
  --color-outline-button: #0f8fff;

  &[data-style-as="secondary"] {
    --color-background-button: #e6e6e6;
    --color-text-button: var(--color-font-primary);
    --color-background-button-hover: var(--color-background-button);
    --color-outline-button: var(--color-font-invert);
  }

  > svg {
    width: 1.5em;
    height: 1.5em;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    outline: 1px;
    outline-color: var(--color-outline-button);
    outline-style: solid;
    background-color: var(--color-background-button-hover);
  }
}
