@use 'abstracts/mixins/appearance';
@use 'abstracts/functions';

// Overrides
.aladin-logo-container,
.aladin-fov,
.aladin-location,
.aladin-gotoControl-container,
.aladin-zoomControl {
  display: none;
}

.aladin-measurement-div {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

// Layout
.aladin-container {
  position: absolute !important; /* stylelint-disable-line declaration-no-important */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: functions.palette(black);
  border: 0 !important; /* stylelint-disable-line declaration-no-important */
}

.aladin-reticleCanvas:focus {
  outline: none;
}

.show-catalogs {
  .aladin-reticleCanvas {
    cursor: pointer !important; /* stylelint-disable-line declaration-no-important */
  }
}


.sources-list-container {
  @include appearance.hidden;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // z-index: 100;
  // background: white;

  .info-button, .close-button {
    background-color: functions.palette(turquoise55);
  }

  .info-button {
    margin: 5px;
  }
}
