/* stylelint-disable no-descending-specificity */
@forward './Goals/styles';
@forward './Grid/styles';
@forward './Landmarks/styles';
@forward './Markers/styles';
@forward './Orientation/styles';
@forward './Pan/styles';
@forward './Search/styles';
@forward './Share/styles';
@forward './Zoom/styles';

@use 'abstracts/mixins/typography';
@use 'abstracts/functions';

.controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px 15px;
  border: 0;

  $controlDim: 40px;
  $controlSpacing: 12px;

  .controls-submenu {
    @include typography.list-unstyled;
    position: absolute;
    z-index: functions.z-stack(controls);

    > li {
      display: block;
    }
  }

  .control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $controlDim;
    height: $controlDim;
    background-color: functions.palette(neutral90);
    border-radius: 50%;
    transition: background-color 0.4s, outline 0.4s;

    &:focus {
      outline: 2px solid functions.palette(blue20);
    }

    &.active,
    &:hover {
      background-color: functions.palette(turquoise55);
    }
  }

  .wayfinding,
  .find {
    > li {
      + li {
        margin-top: $controlSpacing;
      }
    }
  }

  .zooms {
    top: calc(50% - 50px);

    // top: calc((var(--window-height, 100vh) - var(--main-header-height, 42px)) / 2);
    right: 0;

    // bottom: ($controlDim / 2) - 10px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    // max-height: 100px;
  }

  .pan {
    right: 10px;
    bottom: 0;
    display: flex;

    > li {
      + li {
        margin-left: $controlSpacing;
      }
    }
  }

  .find {
    position: static;
  }

  .wayfinding {
    bottom: calc(50% - #{$controlDim} - (#{$controlSpacing}));
    left: 0;
  }

  .overlays {
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: (2 * $controlDim) + $controlSpacing;

    li {
      margin-left: $controlSpacing;
    }

    li:first-child {
      // margin-left: 0;
      margin-left: $controlDim + $controlSpacing;
    }

    li:last-child {
      margin-top: $controlSpacing;
      margin-left: $controlDim + $controlSpacing;
    }
  }
}
