@use 'abstracts/functions';
@use 'abstracts/mixins/base';
@use 'abstracts/variables';

// Typography mixins
// -----------------------------------
// These should be limited to `font` and other typographic properties only.
@mixin type-scale($desktop-size, $mobile-size) {
  @include base.fluid-scale(
    font-size,
    $desktop-size,
    $mobile-size,
    functions.break(tablet),
    functions.break(mobile)
  );
}

// Headings
// --------------------------------------------------------
@mixin headline {
  @include type-scale(28px, 28px);
  font-weight: functions.font-weight(regular);
  line-height: 2;
  letter-spacing: 17px;
}

@mixin heading-primary {
  @include type-scale(40px, 24px);
  font-weight: functions.font-weight(extra-bold);
  line-height: 1.15;
}

@mixin heading-secondary {
  @include type-scale(30px, 20px);
  font-weight: functions.font-weight(extra-bold);
  line-height: 1.2;
}

@mixin heading-tertiary {
  @include type-scale(24px, 18px);
  font-weight: functions.font-weight(extra-bold);
  line-height: 1.417;
}

@mixin heading-quaternary {
  @include type-scale(18px, 16px);
  font-weight: functions.font-weight(bold);
}

// Copy
// --------------------------------------------------------
@mixin copy-primary {
}

// Links
// --------------------------------------------------------

// Navs & Menus
// --------------------------------------------------------
@mixin heading-menu {
  font-size: 14px;
  font-weight: functions.font-weight(regular);
  line-height: 1.5;
  color: functions.palette(white);
}

@mixin subheading-menu {
  font-size: 16px;
  font-weight: functions.font-weight(bold);
  line-height: 1.6;
  color: functions.palette(white);
}

@mixin heading-menu-section {
  font-size: 16px;
  font-weight: functions.font-weight(regular);
  line-height: 1.4;
  color: functions.palette(white);
}

// Guided Experiencess
@mixin heading-guided-experiences {
  font-weight: functions.font-weight(regular);
  color: functions.palette(white);
  text-transform: uppercase;

  @include base.fluid-scale(
    font-size,
    40px,
    14px,
    functions.break(desktop),
    functions.break(tablet)
  );

  @include base.fluid-scale(
    letter-spacing,
    20px,
    2px,
    functions.break(desktop),
    functions.break(tablet)
  );

  @include base.fluid-scale(
    line-height,
    1.4,
    1.5,
    functions.break(desktop),
    functions.break(tablet)
  );
}

@mixin subheading-guided-experiences {
  font-weight: functions.font-weight(regular);
  color: functions.palette(white);
  text-transform: uppercase;

  @include base.fluid-scale(
    font-size,
    20px,
    14px,
    functions.break(desktop),
    functions.break(tablet)
  );

  @include base.fluid-scale(
    letter-spacing,
    10px,
    2px,
    functions.break(desktop),
    functions.break(tablet)
  );

  @include base.fluid-scale(
    line-height,
    1.4,
    1.5,
    functions.break(desktop),
    functions.break(tablet)
  );
}


@mixin heading-guided-experience {
  font-weight: functions.font-weight(bold);
  line-height: 1.57;
  color: functions.palette(white);
  text-align: center;

  @include base.fluid-scale(
    font-size,
    36px,
    19px,
    functions.break(desktop),
    functions.break(tablet)
  );
}

@mixin heading-tour-list {
  font-size: 12px;
  font-weight: functions.font-weight(bold);
  line-height: 1.6;
  color: functions.palette(white);
}

@mixin heading-tour-list-fluid {
  font-weight: functions.font-weight(bold);
  line-height: 1.6;
  color: functions.palette(white);

  @include base.fluid-scale(
    font-size,
    22px,
    12px,
    functions.break(tablet),
    functions.break(mobile)
  );
}

@mixin subheading-tour-list {
  font-weight: functions.font-weight(light);
  line-height: 1.6;
  color: functions.palette(white);

  @include base.fluid-scale(
    font-size,
    14px,
    10px,
    functions.break(tablet),
    functions.break(mobile)
  );
}

// Lists
// --------------------------------------------------------
@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
