.viewLayout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - var(--size-height-menu, var(--size-spacing-l)));
}

.aladinViewer {
  flex-grow: 1;
  position: relative;
}

.aladinFooter {
}
