.viewLayout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - var(--main-header-height, 42px));
}

.aladinViewer {
  flex-grow: 1;
  position: relative;
}

.aladinFooter {
}
