.viewLayout {
  --size-height-aladin: calc(
    100dvh - var(--size-height-menu, var(--size-spacing-l))
  );
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  height: 100dvh;

  &[data-has-menu="true"] {
    grid-template-rows: var(--size-height-menu, var(--size-spacing-l)) 1fr;
  }
}
