@use "abstracts/functions";
@use "abstracts/mixins/base";
@use "abstracts/mixins/typography";
@use "abstracts/mixins/appearance";

.share-button {
  @include appearance.proto-button;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 52px;

  .share-icon {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: transparent solid 2px;
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s;

    svg {
      width: 100%;
      height: auto;
    }

    &.facebook {
      background-color: #3d5a99;
    }

    &.twitter {
      background-color: #38a8e0;
    }

    &.email {
      background-color: var(--turquoise85);

      line,
      .envelope-top {
        stroke: var(--white);
      }

      .envelope-outline {
        fill: var(--white);
      }
    }

    &.image {
      background-color: var(--turquoise70);
      padding: 10px;
    }

    &.url {
      background-color: var(--turquoise70);

      svg {
        width: 26px;
        height: 26px;
      }
    }
  }

  &:hover,
  &:focus {
    .facebook {
      background-color: #98a5cb;
    }

    .twitter {
      background-color: #98d0f1;
    }

    .email {
      background-color: #7fb3b1;
    }

    .image {
      background-color: #7ac1c2;
    }

    .url {
      background-color: #7ac1c2;
    }
  }

  &:focus {
    outline: none;

    .share-icon {
      border-color: var(--blue20);
    }
  }
}

.share-buttons-horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;

  .share-button {
    @include base.respond(functions.break(desktop-height), min, height) {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }

  .share-network {
    margin-top: 10px;
    font-size: 10px;
    font-weight: var(--weight-font-normal);
    line-height: 1.6;
    color: var(--white);

    @include base.respond(functions.break(desktop-height), min, height) {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}

.share-buttons-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  list-style: none;

  li {
    + li {
      margin-top: 30px;
    }
  }

  .share-button {
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .share-network {
    @include typography.subheading-menu;

    margin-top: 10px;

    @include base.respond(functions.break(desktop-height), min, height) {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}
