@use 'abstracts/functions';
@use 'abstracts/mixins/base';
@use 'abstracts/mixins/typography';
@use 'abstracts/mixins/appearance';

.share-buttons-horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .share-button {
    @include base.respond(functions.break(desktop-height), min, height) {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      width: auto;
    }
  }

  .share-network {
    margin-top: 10px;
    font-size: 10px;
    font-weight: functions.font-weight(light);
    line-height: 1.6;
    color: functions.palette(white);

    @include base.respond(functions.break(desktop-height), min, height) {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}

.share-buttons-vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  li {
    + li {
      margin-top: 30px;
    }
  }

  .share-button {
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .share-network {
    @include typography.subheading-menu;
    margin-top: 10px;

    @include base.respond(functions.break(desktop-height), min, height) {
      margin-top: 0;
      margin-left: 10px;
    }
  }
}

.share-button {
  @include appearance.proto-button;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 52px;

  &:hover,
  &:focus {
    .facebook {
      background-color: #98a5cb;
    }

    .twitter {
      background-color: #98d0f1;
    }

    .email {
      background-color: #7fb3b1;
    }

    .image {
      background-color: #7ac1c2;
    }

    .url {
      background-color: #7ac1c2;
    }
  }

  &:focus {
    outline: none;

    .share-icon {
      border-color: functions.palette(blue20);
    }
  }
}

.share-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: transparent solid 2px;
  border-radius: 50%;
  transition: background-color 0.2s, border-color 0.2s;

  svg {
    width: 100%;
    height: auto;
  }

  &.facebook {
    background-color: #3d5a99;

    svg {
      width: 37px;
      height: 37px;
      margin-left: 2px;
      fill: functions.palette(white);
    }
  }

  &.twitter {
    background-color: #38a8e0;

    svg {
      width: 46px;
      height: 46px;
      margin-left: 2px;
      fill: functions.palette(white);
    }
  }

  &.email {
    background-color: functions.palette(turquoise85);

    svg {
      width: 40px;
      height: 40px;
      margin-left: 1px;
    }

    line,
    .envelope-top {
      stroke: functions.palette(white);
    }

    .envelope-outline {
      fill: functions.palette(white);
    }
  }

  &.image {
    background-color: functions.palette(turquoise70);

    svg {
      width: 23px;
      height: 23px;
      margin-left: 2px;
      stroke: functions.palette(white);
    }
  }

  &.url {
    background-color: functions.palette(turquoise70);

    svg {
      width: 26px;
      height: 26px;
      fill: functions.palette(white);
    }
  }
}

