@use 'abstracts/functions';
@use 'abstracts/mixins/base';
@use 'abstracts/mixins/layout';

$_breakpoint: functions.header(layout-breakpoint);

.c-global-header {
  @include base.fluid-scale(
    height,
    functions.header(height-tablet),
    functions.header(height-mobile),
    functions.break(tablet),
    functions.break(mobile)
  );
  position: sticky;
  top: 0;
  z-index: functions.z-stack(header);
  display: grid;
  grid-template: "logo nav search toggle" auto / auto minmax(0, 1fr) auto auto;
  gap: functions.header(gap);
  color: functions.palette(white);
  background-color: functions.palette(turquoise60);

  @include base.respond($_breakpoint) {
    grid-template: "logo . search hamburger" auto / auto 1fr auto auto;
    gap: functions.header(gap);
  }

  @include base.respond(functions.header(breakpoint-for-search-bar)) {
    grid-template: "logo search hamburger" auto / minmax(0, 1fr) auto auto;
    gap: functions.header(gap);
  }

  &__logo-block {
    grid-area: logo;
  }

  &__nav-block {
    grid-area: nav;

    @include base.respond($_breakpoint) {
      display: none;
    }
  }

  &__search-block {
    grid-area: search;
  }

  &__toggle-block {
    grid-area: toggle;

    @include base.respond($_breakpoint) {
      display: none;
    }
  }

  &__hamburger-block {
    display: flex;
    grid-area: hamburger;
    align-items: center;
    height: var(--height);

    @include base.respond($_breakpoint + 1, min) {
      display: none;
    }
  }

  &__hamburger {
    @include base.fluid-scale(
      width,
      functions.header(button-width-tablet),
      functions.header(button-width-mobile),
      functions.break(tablet),
      functions.break(mobile)
    );
    height: 100%;
    transition: background-color 0.2s;

    &--is-active {
      background-color: functions.palette(darkblue);
    }
  }

  &__icon {
    @include base.fluid-scale(
      width height,
      36px,
      25.412px,
      functions.break(tablet),
      functions.break(mobile)
    );
  }

  &__logo-link {
    @include base.fluid-scale(
      padding-right padding-left,
      75px,
      16.5px,
      functions.break(tablet),
      functions.break(mobile)
    );
    display: flex;
    align-items: center;
    height: var(--height);
    background-color: functions.palette(black);
  }

  &__logo {
    @include base.fluid-scale(
      width,
      103.889px,
      57.038px,
      functions.break(tablet),
      functions.break(mobile)
    );
    @include base.fluid-scale(
      height,
      49.178px,
      27px,
      functions.break(tablet),
      functions.break(mobile)
    );
  }

  &__skip-link {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5em 1em;
    color: functions.palette(turquoise70);
    text-decoration: none;
    background-color: functions.palette(white);
    transform: translateX(-100%);

    &:focus-visible {
      border: 3px solid;
      outline: 0;
      transition: transform 0.2s;
      transform: translateX(0);
    }
  }
}
