@use 'abstracts/functions';
@use 'abstracts/mixins/base';

$_breakpoint: functions.header(layout-breakpoint);
$_link-gap: 14px;

.c-nav-list {
  display: flex;
  font-size: 0.727em;
  font-weight: functions.font-weight(bold);
  background-color: functions.palette(turquoise60);

  &--desktop {
    @include base.respond($_breakpoint) {
      display: none;
    }
  }

  &--mobile {
    position: fixed;
    top: var(--height);
    right: 0;
    flex-direction: column;
    transition: transform 0.25s ease-in-out;
    transform: translateX(100%);

    &.c-nav-list--is-active {
      transform: translateX(0);
    }

    @include base.respond($_breakpoint + 1, min) {
      display: none;
    }
  }

  &__item {
    .c-nav-list--desktop & {
      position: relative;
    }
  }

  &__link {
    height: var(--height);
    padding-right: functions.header(nav-link-padding-lateral);
    padding-left: functions.header(nav-link-padding-lateral);
    text-decoration: none;
    cursor: pointer;
    background-color: functions.palette(turquoise60);
    transition: background-color 0.2s;

    &:hover,
    &:focus-visible,
    &--is-active {
      background-color: functions.palette(turquoise50);
    }

    &--desktop {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      white-space: nowrap;
    }

    &--mobile {
      display: grid;
      grid-template: "icon text" auto / 24px auto;
      gap: $_link-gap;
      width: functions.header(nav-width);
      max-width: 47vw;
    }
  }

  &__link-icon {
    grid-area: icon;
    align-self: center;

    .c-nav-list__link--desktop & {
      margin-left: 8px;
      transform: rotate(-90deg) scale(0.6);
    }
  }

  &__link-text {
    grid-area: text;
    align-self: center;
    text-align: left;
  }
}
