@use 'abstracts/functions';

$_color: functions.sass-palette(neutral80);
$_bg-color: functions.sass-palette(neutral02);

.c-subnav-list {
  position: absolute;
  z-index: -5;
  width: functions.header(nav-width);
  max-width: 47vw;
  overflow: auto;
  color: $_color;
  background-color: $_bg-color;
  transition: transform 0.25s ease-in-out;

  .c-nav-list--mobile & {
    top: 0;
    left: 0;
    height: 100%;

    &--is-active {
      transform: translateX(-100%);
    }
  }

  .c-nav-list--desktop & {
    top: 100%;
    left: 0;
    transform: translateY(-100%);

    &--is-active {
      transform: translateY(0);
    }
  }

  &__item {
    position: relative;

    &:first-child::after {
      position: absolute;
      bottom: 0;
      left: functions.header(nav-link-padding-lateral);
      display: block;
      width: calc(100% - #{2 * functions.header(nav-link-padding-lateral)});
      height: 1px;
      content: '';
      background-color: currentColor;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1.688em functions.header(nav-link-padding-lateral);
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;

    &:hover,
    &:focus-visible {
      color: functions.palette(white);
      background-color: functions.palette(turquoise50);
    }

    .c-nav-list--mobile & {
      height: functions.header(height);
    }
  }
}
