@use 'abstracts/functions';

.main-header {
  z-index: functions.z-stack(header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: functions.palette(black);

  &.primary {
    background-color: functions.palette(black);
  }

  &.secondary {
    background-color: functions.palette(turquoise95);
  }

  .close-button, .main-menu-button {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;

    svg {
      fill: functions.palette(white);
    }
  }

  .close-button {
    opacity: 1;
    transition: opacity 0.2s ease-out;

    &.menus-open {
      opacity: 0;
    }
  }
}

