@use "abstracts/functions";

.main-header {
  z-index: functions.z-stack(header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);

  &.primary {
    background-color: var(--black);
  }

  &.secondary {
    background-color: var(--color-rubin-teal-600);
  }

  .close-button,
  .main-menu-button {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;

    svg {
      color: var(--white);
    }
  }

  .close-button {
    --button-border-color: transparent;
    --button-background-color: transparent;

    padding: 0;
    opacity: 1;
    transition: opacity 0.2s ease-out;

    &:hover,
    &:focus {
      outline: none;
    }

    &.menus-open {
      opacity: 0;
    }
  }
}
