@use "abstracts/functions";
@use "abstracts/mixins/typography";
@use "abstracts/mixins/base";

.tour-fact {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 66px 55px 0;
  color: var(--white);

  @include base.respond(functions.break(tablet), min) {
    justify-content: flex-start;
    width: 40%;
    padding: 0 55px 38px;
    border-left: 2px solid var(--white);
  }

  .top {
    padding-bottom: 9px;
  }

  .bottom {
    position: relative;
    width: 100%;
    padding-top: 24px;
  }

  .fact-icon {
    width: 67px;

    @include base.respond(functions.break(tablet), min) {
      width: 39px;
      height: 39px;
    }
  }

  .tour-fact-heading {
    @include typography.heading-tour-fact;
    margin-top: 26px;
  }
}
