/* stylelint-disable no-descending-specificity */
@use "abstracts/mixins/base";
@use "abstracts/mixins/typography";
@use "abstracts/mixins/appearance";
@use "abstracts/functions";

.tour-list-item {
  display: flex;
  justify-content: stretch;
  width: 100%;

  + .tour-list-item {
    margin-top: 16px;

    @include base.respond(functions.break(tablet), min) {
      margin-top: 0;
      margin-left: 90px;
    }
  }
}

.tour-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  text-decoration: none;

  @include base.respond(functions.break(tablet), min) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    padding: 0 12px;
  }

  .thumbnail {
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    @include base.fluid-scale(
      [width,
      height],
      143px,
      47px,
      functions.break(tablet),
      functions.break(mobile)
    );

    @include base.respond(functions.break(tablet), min) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .details {
    display: flex;
    flex-flow: column nowrap;

    @include base.respond(functions.break(tablet), min) {
      flex-grow: 3;
      justify-content: space-between;
    }
  }

  .name {
    @include typography.heading-tour-list-fluid;

    @include base.respond(functions.break(tablet), min) {
      text-align: center;
    }
  }

  .characteristics {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include base.respond(functions.break(tablet), min) {
      align-items: stretch;
      justify-content: center;
      margin-top: 5px;
    }
  }

  .duration {
    color: var(--white);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    @include base.respond(functions.break(tablet), min) {
      flex-flow: column nowrap;
      flex-grow: 0;
      justify-content: space-between;
      width: 70px;
      margin-right: 0;
      border-right: 0;
    }

    .tablet-only-label {
      @include typography.subheading-tour-list;
    }

    svg {
      width: 12px;
      margin-right: 11px;

      @include base.respond(functions.break(tablet), min) {
        width: 23px;
        margin-top: 4px;
        margin-right: 0;
      }
    }

    .time {
      @include typography.heading-tour-list;

      @include base.respond(functions.break(tablet), min) {
        margin-top: 5px;
      }
    }
  }

  .divider {
    width: 2px;
    height: 100%;
    min-height: 17px;
    margin: 0 15px;
    background-color: var(--turquoise55);

    @include base.respond(functions.break(tablet), min) {
      background-color: var(--white);
    }
  }

  .complexity {
    @include typography.subheading-tour-list;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    @include base.respond(functions.break(tablet), min) {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      width: 70px;
    }

    .tablet-only-label {
      @include typography.heading-tour-list;

      @include base.respond(functions.break(tablet), max) {
        @include appearance.hidden;
      }
    }
  }

  .bubbles {
    margin-left: 7px;

    @include base.respond(functions.break(tablet), min) {
      margin-left: 0;
    }

    .bubble {
      @include base.fluid-scale(
        [width,
        height],
        7px,
        5px,
        functions.break(desktop),
        functions.break(tablet)
      );
    }
  }

  .tablet-only-label {
    display: none;

    @include base.respond(functions.break(tablet), min) {
      display: block;
    }
  }
}
