@use "abstracts/mixins/base";
@use "abstracts/functions";
@use "abstracts/mixins/typography";
@forward "./list-item";
@forward "./intro";
@forward "./fun-fact";

.tours-list-container {
  display: flex;
  justify-content: center;
  max-height: calc(
    100vh - var(--ges-header-height, 128px) - var(--ges-nav-height, 95px)
  );
  padding: 22px 17px 26px;
  overflow-y: auto;

  @include base.respond(functions.break(tablet), min) {
    justify-content: flex-start;
    overflow: auto auto;
  }
}

.tours-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @include base.respond(functions.break(tablet), min) {
    flex-flow: row nowrap;
    padding: 0 24px;
  }
}

.no-tours-list {
  margin: 0 auto;
}

.tour-intro,
.tour-fact {
  .main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow-y: auto;
  }

  .tour-intro-body,
  .tour-fact-body {
    @include base.fluid-scale(
      [padding-top,
      padding-bottom],
      20px,
      29px,
      functions.break(desktop),
      functions.break(tablet)
    );

    @include base.respond(functions.break(tablet), min) {
      padding-bottom: 55px;
    }

    p + p,
    .block + .block {
      margin-top: 14px;
    }
  }

  &.mobile-only {
    display: flex;

    @include base.respond(functions.break(tablet), min) {
      display: none;
    }

    .main {
      display: flex;
      flex-flow: column nowrap;
      overflow-y: auto;
    }
  }

  &.desktop-only {
    display: none;
    padding: 0 55px 38px;

    @include base.respond(functions.break(tablet), min) {
      display: flex;
    }
  }

  .skip-link {
    @include typography.skip-link;

    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;

    @include base.respond(functions.break(tablet), min) {
      display: none;
    }
  }
}
