@use 'abstracts/mixins/base';
@use 'abstracts/functions';
@use 'abstracts/mixins/typography';

@import './list-item';
@import './intro';
@import './fun-fact';

.tours-list-container {
  display: flex;
  justify-content: center;
  max-height: calc(var(--window-height, 100vh) - var(--ges-header-height, 128px) - var(--ges-nav-height, 95px));
  padding: 22px 17px 26px;
  overflow-y: scroll;

  @include base.respond(functions.break(tablet), min) {
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: auto;
  }
}

.tours-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @include base.respond(functions.break(tablet), min) {
    flex-flow: row nowrap;

    // align-items: flex-start;
    padding: 0 24px;
  }
}

.no-tours-list {
  margin: 0 auto;
}

.tour-intro-container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  width: 100vw;
  height: calc(var(--window-height, 100vh) - var(--ge-nav-height, 95px) - 42px);
  background-color: functions.palette(turquoise90);

  @include base.respond(functions.break(tablet), min) {
    align-items: flex-start;
    overflow: scroll;
  }

  + .guided-experience-nav-container {
    background-color: functions.palette(turquoise90);
  }

  .content-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;

    @include base.respond(functions.break(tablet), min) {
      padding-top: 42px;
    }
  }
}

.tour-intro,
.tour-fact {
  &.mobile-only {
    display: flex;

    @include base.respond(functions.break(tablet), min) {
      display: none;
    }

    .main {
      display: flex;
      flex-flow: column nowrap;
      overflow-y: scroll;
    }
  }

  &.desktop-only {
    display: none;


    @include base.respond(functions.break(tablet), min) {
      display: flex;
    }
  }

  .skip-link {
    @include typography.skip-link;
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;

    @include base.respond(functions.break(tablet), min) {
      display: none;
    }
  }
}

.tour-intro-body {
  max-height: 400px;
  overflow: scroll;

  p + p,
  .block + .block {
    margin-top: 14px;
  }
}
