@use "abstracts/mixins/layout";
@use "abstracts/functions";
@use "abstracts/mixins/base";

.guided-experiences-container {
  @include layout.container-guided;
  height: calc(var(--window-height, 100vh) - var(--ge-nav-link-height, 95px));
}

.guided-experiences-nav-link-container {
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  padding: 1em;
}
