@use 'abstracts/mixins/layout';
@use 'abstracts/functions';
@use 'abstracts/mixins/base';

.guided-experiences-container {
  @include layout.container-guided;
  height: calc(var(--window-height, 100vh) - var(--ge-nav-link-height, 95px));
}

.guided-experiences-nav-link-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 17px 17px;
  background-color: functions.palette(black);

  @include base.respond(functions.break(tablet), min) {
    padding: 0 31px;
  }
}
