@use "abstracts/mixins/appearance";
@use "abstracts/functions";

// Overrides
// .aladin-logo-container,
.aladin-fov,
.aladin-location,
.aladin-gotoControl-container,
.aladin-zoomControl {
  display: none;
}

.aladin-measurement-div {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.aladin-reticleCanvas:focus {
  outline: none;
}

.aladin-logo-container {
  margin-right: 15px;
  margin-bottom: 10px;
}

.show-catalogs {
  .aladin-reticleCanvas {
    cursor: pointer !important; /* stylelint-disable-line declaration-no-important */
  }
}

.sources-list-container {
  @include appearance.hidden;

  .info-button,
  .close-button {
    background-color: var(--turquoise55);
  }

  .info-button {
    margin: 5px;
  }
}
