@use "abstracts/functions";
@use "abstracts/mixins/appearance";
@use "abstracts/mixins/base";

.filters-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: functions.z-stack(controls);

  svg {
    width: 22px;
    height: 22px;
    fill: functions.palette(white);
  }
}

.guided-experience-filters-button {
  display: flex;

  svg {
    width: 18px;

    + .icon-text {
      margin-left: 10px;
    }
  }
}

.filters-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .filters-menu-content-wrapper {
    flex-grow: 3;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-section {
    .checkboxes {
      padding-top: 20px;
    }
  }

  .filters-menu-close-button,
  .filters-menu-reset-button {
    margin: 30px auto 0;
  }

  .filters-menu-close-button {
    display: block;
    width: 100%;
    min-width: 160px;
    padding: 16px;
    margin: 30px auto 0;
    font-size: 16px;
    font-weight: functions.font-weight(bold);
    line-height: 1.6;
    color: functions.palette(white);
    background-color: functions.palette(turquoise85);
    border-radius: 5px;
  }

  .filters-menu-reset-button {
    @include appearance.button-secondary;
  }

  .lower-buttons-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include base.respond(functions.break(mobile-small), min) {
      flex-flow: row nowrap;
    }

    .filters-menu-close-button,
    .filters-menu-reset-button {
      width: 100%;
      min-width: 0;

      @include base.respond(functions.break(mobile-small), min) {
        width: calc(50% - 10px);
      }
    }
  }
}
