.content {
  flex-grow: 1;
}

.cardGrid {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--size-spacing-s);

  @media (--tablet) {
    align-items: stretch;
    flex-direction: row;

    & > * {
      flex-basis: calc(var(--size-spacing-4xl) * 3);
    }
  }
}
