@use 'abstracts/functions';

.controls {
  .control-button.zoom-in, .control-button.zoom-out {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: functions.palette(white);
    border-radius: 50%;

    path, rect {
      fill: functions.palette(black);
      transition: fill 0.4s;
    }

    &:hover {
      path, rect {
        fill: functions.palette(white);
      }
    }

    &:focus {
      background-color: functions.palette(blue15);

      &.active, &:hover {
        background-color: functions.palette(turquoise55);
      }
    }
  }
}

.zoom-in {
  margin-bottom: 12px;
}

// .zoom-out {
  // margin-top: 20px;
// }

// only needed for broken siilder impementation
// .zoom-track {
//   flex-grow: 1;
//   width: 14px;
//   height: 100%;
//   background-color: rgba(functions.palette(neutral10), 0.6);
//   border-radius: 7px;
// }

// .zoom-thumb {
//   width: 30px;
//   height: 30px;
//   background-color: functions.palette(turquoise55);
//   border: 4px solid functions.palette(white);
//   border-radius: 50%;
// }
