@use 'abstracts/functions';

.markers-button, {
  // top: 0;
  // right: 52px;
  background-color: functions.palette(turquoise55);

  svg {
    width: 26px;
    height: 26px;
    fill: functions.palette(white);
  }
}
