@use 'abstracts/functions';
@use 'abstracts/mixins/appearance';

.share-button {
  @include appearance.proto-button;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 52px;

  &:hover,
  &:focus {
    .facebook {
      background-color: #98a5cb;
    }

    .twitter {
      background-color: #98d0f1;
    }

    .email {
      background-color: #7fb3b1;
    }
  }

  &:focus {
    outline: none;

    .share-icon {
      border-color: functions.palette(blue20);
    }
  }
}

.share-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: transparent solid 2px;
  border-radius: 50%;
  transition: background-color 0.2s, border-color 0.2s;

  svg {
    width: 100%;
    height: auto;
  }

  &.facebook {
    background-color: #3d5a99;

    svg {
      width: 37px;
      height: 37px;
      margin-left: 2px;
      fill: functions.palette(white);
    }
  }

  &.twitter {
    background-color: #38a8e0;

    svg {
      width: 46px;
      height: 46px;
      margin-left: 2px;
      fill: functions.palette(white);
    }
  }

  &.email {
    background-color: functions.palette(turquoise85);

    svg {
      width: 40px;
      height: 40px;
      margin-left: 1px;
    }

    line,
    .envelope-top {
      stroke: functions.palette(white);
    }

    .envelope-outline {
      fill: functions.palette(white);
    }
  }
}
