.shareMenu {
  display: flex;
  align-items: center;
  z-index: var(--elevation-element-controls);
  position: relative;
}

.shareButton {
  composes: shareButton from "@/components/molecules/ShareButton/styles.module.css";
}

.twitter {
  --color-background-button: #f5f5f5;
  --color-background-button-hover: #f5f5f5;
  --color-text-button: var(--color-font-primary);
}

.facebook {
  --color-background-button: #3d5a99;
  --color-background-button-hover: #3d5a99;
}

.linkedin {
  --color-background-button: #007bb5;
  --color-background-button-hover: #007bb5;
}

.shareMenuItems {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: var(--size-spacing-2xs);
  list-style: none;
  position: absolute;
  font-size: 0.75rem;
  opacity: 0;
  z-index: -1;

  &[data-side="top"] {
    bottom: calc(var(--size-spacing-l) + var(--size-spacing-2xs));
  }

  &[data-side="bottom"] {
    top: calc(var(--size-spacing-l) + var(--size-spacing-2xs));
  }

  &[data-alignment="left"] {
    right: 0;

    .itemLabel {
      flex-direction: row-reverse;
    }
  }
}
