@use 'abstracts/functions';

.poi-nav-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.poi-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  // background-color: functions.palette(turquoise70);

  .poi-nav-item {
    display: flex;
    width: 100%;
  }

  .poi-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    font-weight: functions.font-weight(bold);
    line-height: 1.6;
    color: functions.palette(white);
    background-color: functions.palette(turquoise70);
    border-top: 0;
    border-right: 1px solid functions.palette(turquoise80);
    border-bottom: 0;
    border-left: 1px solid functions.palette(turquoise80);
    border-radius: 0;
    transition: background-color 0.2s ease-in-out, border-right 0.2s ease-in-out, border-left 0.2s ease-in-out;

    &:hover, &:focus {
      background-color: functions.palette(turquoise55);
      border-right: 1px solid functions.palette(turquoise55);
      border-left: 1px solid functions.palette(turquoise55);
    }
  }
}
