.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;

  @media (--desktop-small) {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: calc(100% + var(--size-spacing-s));
  }
}

.content {
  --offset-top-container: calc(
    var(--size-height-menu) + var(--size-spacing-2xl)
  );

  background-color: rgba(0 0 0 / 70%);
  backdrop-filter: blur(2px) brightness(0.67);
  color: var(--color-font-invert);
  width: 100%;
  opacity: 0;
  padding: var(--size-spacing-s);
  transform: translateY(100%);
  transition: var(--time-transition-slow) transform,
    var(--time-transition-slow) opacity;
  min-height: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-block-start: var(--size-spacing-xs);
  }

  &[data-open="true"] {
    opacity: 1;
    transform: translateX(0%);
  }

  @media (--desktop-small) {
    padding: var(--size-spacing-m) 0 var(--size-spacing-s) var(--size-spacing-m);
    transform: translateX(100%);
    width: min(calc(40ch + var(--size-spacing-m)), 100%);

    &[data-open="true"] {
      transform: translateY(0%);
    }
  }
}
