.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  pointer-events: all;
  font-size: calc(var(--size-font-16-20) * 0.75);

  @media (--desktop-small) {
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    width: calc(100% + var(--size-spacing-s));
  }
}

.content {
  --offset-top-container: calc(
    var(--size-height-menu) + var(--size-spacing-2xl)
  );

  background-color: rgba(0 0 0 / 70%);
  backdrop-filter: blur(2px);
  color: var(--color-font-invert);
  width: 100%;
  padding: var(--size-spacing-s);
  transform: translateY(100%);
  transition: var(--time-transition-slow) transform,
    var(--time-transition-slow) opacity;
  min-height: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  & > * + * {
    margin-block-start: var(--size-spacing-xs);
  }

  &[data-open="true"] {
    opacity: 1;
    transform: translateX(0%);
  }

  @media (--desktop-small) {
    padding: var(--size-spacing-s) 0 var(--size-spacing-s) var(--size-spacing-s);
    transform: translateX(100%);
    width: min(calc(40ch + var(--size-spacing-s)), 100%);

    &[data-open="true"] {
      transform: translateY(0%);
    }
  }
}

.toggle {
  display: flex;
  align-items: center;
  background-color: rgba(0 0 0 / 70%);
  backdrop-filter: blur(2px);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  padding: var(--size-spacing-2xs) 0 var(--size-spacing-2xs)
    var(--size-spacing-3xs);
  border-top-left-radius: var(--size-spacing-3xs);
  border-bottom-left-radius: var(--size-spacing-3xs);
  cursor: pointer;

  &[data-disabled] {
    cursor: not-allowed;
  }
}
