@use "abstracts/functions";
@use "abstracts/mixins/typography";
@use "abstracts/mixins/base";
@use "abstracts/mixins/appearance";

.guided-experiences-heading {
  @include typography.heading-guided-experiences;

  padding: 15px 0;
  text-align: center;
}

.guided-experiences-list-container {
  height: calc(
    100vh - var(--ge-nav-link-height, 95px) - var(--ge-heading-height, 56px)
  );
  overflow-y: scroll;
}

.guided-experiences-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 30px;
  list-style: none;

  .guided-experience {
    width: 100%;
    max-width: 700px;
    margin-right: 20px;
    margin-left: 20px;

    + .guided-experience {
      margin-top: 30px;
    }
  }
}

.guided-experience-heading {
  margin: 0 10px 10px;

  @include typography.heading-guided-experience;

  @include base.respond(functions.break(tablet), min) {
    font-weight: var(--weight-font-normal);
  }
}

.guided-experience-thumbnail {
  position: relative;
  width: 100%;
  padding-top: 73%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: var(--turquoise55) solid 1px;
  border-radius: 4%;
  transition: box-shadow 0.2s;
}

.guided-experience-link {
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;

  &:focus {
    outline: 0;

    .guided-experience-thumbnail {
      box-shadow: 0 0 0 3px var(--blue20);
    }
  }
}

.guided-experience-count {
  position: absolute;
  top: 0;
  right: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  padding: 12px;
  text-align: center;
  background-color: var(--color-rubin-red-200);

  .count-label {
    font-size: 10px;
    font-weight: var(--weight-font-normal);
    line-height: 1.6;
    color: var(--white);
  }

  .angle-right,
  .angle-left {
    position: absolute;
    top: calc(100% - 1px);
    width: 0;
    height: 0; // no height, no content, just border
    border-top: 15px solid var(--color-rubin-red-200); // angle degree, reduce to reduce degree of angles
  }

  .angle-right {
    // right angle
    right: 0;
    border-left: 50px solid transparent;
  }

  .angle-left {
    // left angle
    left: 0;
    border-right: 50px solid transparent;
  }
}

.guided-experience-landing-container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 42px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .background-opacitizer {
    position: absolute;
    inset: 0;
    background-color: var(--black);
    opacity: 0.65;
  }
}

.guided-experience-landing {
  position: relative;
  margin-top: -42px;
  color: var(--white);

  .guided-experience-landing-heading {
    @include typography.heading-guided-experience-landing;

    text-align: center;
  }

  .guided-experience-landing-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 20px;

    .details-heading {
      @include typography.subheading-guided-experience-landing;
    }

    .detail {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px;

      + .detail {
        border-left: 2px solid var(--white);
      }
    }

    .duration-details {
      svg {
        width: 23px;
        margin-top: 4px;
      }
    }

    .complexity-details {
      .bubbles .bubble {
        width: 7px;
        height: 7px;
      }
    }

    .duration,
    .complexity {
      margin-top: 4px;
      font-weight: var(--weight-font-bold);
      line-height: 1.6;
      color: var(--white);

      @include base.fluid-scale(
        font-size,
        14px,
        12px,
        functions.break(tablet),
        functions.break(mobile)
      );
    }
  }
}
