.iconButton {
  --color-background-button: #313333;
  --color-background-button-hover: var(--color-rubin-teal-300);
  --color-text-button: var(--color-font-invert);
  --color-outline-button: currentColor;

  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-background-button);
  color: var(--color-text-button);
  cursor: pointer;
  width: var(--size-spacing-l);
  height: var(--size-spacing-l);
  transition: background-color 0.4s;
  pointer-events: initial;

  > svg {
    width: 1.5em;
    height: 1.5em;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    outline: 2px;
    outline-color: var(--color-outline-button);
    outline-style: solid;
    background-color: var(--color-background-button-hover);
  }
}
