@use 'abstracts/mixins/appearance';
@use 'abstracts/functions';

$_input-color: functions.sass-palette(neutral80);
$_input-bg: functions.sass-palette(neutral08);

.c-contact-form {
  font-size: 16px;
  font-weight: functions.font-weight(bold);

  &__block {
    & + & {
      margin-top: 5px;
    }
  }

  &__input {
    @include appearance.input-unstyled;
    display: block;
    width: 100%;
    padding: 0.813em;
    color: $_input-color;
    background-color: $_input-bg;

    &::placeholder {
      color: inherit;
    }
  }

  &__submit {
    width: 100%;
  }
}
