@use 'abstracts/functions';
@use 'abstracts/mixins/base';
@use 'abstracts/mixins/layout';

$_breakpoint: 850px;
$_spacing-desktop: 70px;
$_spacing-mobile: 51px;

.c-social-list {
  padding-top: functions.px-to-em(24px);
  padding-bottom: functions.px-to-em(24px);
  color: functions.palette(white);
  background-color: functions.palette(turquoise60);

  &__inner {
    @include layout.container-inner;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    margin-right: functions.px-to-em(91px, 24px);

    @include base.respond($_breakpoint) {
      display: none;
    }
  }

  &__list {
    @include base.fluid-scale(
      margin-top margin-left,
      -1 * $_spacing-desktop,
      -1 * $_spacing-mobile
    );
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include base.respond($_breakpoint) {
      flex-shrink: 1;
    }
  }

  &__item {
    @include base.fluid-scale(
      margin-top margin-left,
      $_spacing-desktop,
      $_spacing-mobile
    );
  }

  &__link {
    display: flex;
  }

  &__icon {
    transition: 0.2s transform ease-in-out;

    .c-social-list__link:hover & {
      transform: scale(1.617);
    }
  }
}
