@import "abstracts/variables.css";

body {
  background-color: var(--color-background-page-invert);
  color: var(--color-font-invert);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
