.viewControls {
  width: var(--size-spacing-l);
}

.slider {
  width: 200px;
  --size-padding-slide-block-end: 0;
}

.slider [role="slider"] {
  &:not(:disabled):not([aria-disabled="true"]) {
    cursor: pointer;
  }
}

.controlsWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.centeredControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: -50%;
  gap: var(--size-spacing-2xs);
}

.centeredControls > :first-child {
  margin-bottom: var(--size-spacing-s);
}
