.tourOverlay {
  display: grid;
  grid-template: "orientation" 1fr "description" 50% "controls" min-content / 1fr;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media (--desktop-small) {
    gap: var(--size-spacing-2xs);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas: "orientation controls description";
    align-items: flex-end;
    padding: var(--size-spacing-s);
  }
}

.orientation {
  grid-area: orientation;
  justify-self: flex-end;
  margin-block-start: var(--size-spacing-s);
  margin-inline-end: var(--size-spacing-s);

  @media (--desktop-small) {
    place-self: flex-start flex-start;
    margin: 0;
  }
}

.controls {
  grid-area: controls;
  z-index: var(--elevation-element-header);

  @media (--desktop-small) {
    margin-block-end: var(--size-spacing-l);
  }
}

.description {
  grid-area: description;
}

.content {
  overflow-y: auto;
  scrollbar-color: currentColor transparent;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  padding-inline-end: var(--size-spacing-2xs);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > *:first-child {
    margin-block-start: 0;
  }
}

.audio {
  margin-block-start: auto;
}
