@use "abstracts/mixins/appearance";

.shareButton {
  @include appearance.proto-button;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  pointer-events: initial;

  &[data-network="facebook"] {
    --color-background-share-icon: #3d5a99;
  }

  &[data-network="twitter"] {
    --color-background-share-icon: #38a8e0;
  }

  &[data-network="email"] {
    --color-background-share-icon: var(--turquoise85);
  }

  &[data-network="url"] {
    .shareIcon {
      padding: var(--size-spacing-2xs);
    }
  }

  &[data-network="image"] {
    .shareIcon {
      padding: var(--size-spacing-2xs);
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled)[data-active] {
    --color-background-share-icon: #7ac1c2;

    &[data-network="facebook"] {
      --color-background-share-icon: #98a5cb;
    }

    &[data-network="twitter"] {
      --color-background-share-icon: #98d0f1;
    }

    &[data-network="email"] {
      --color-background-share-icon: #7fb3b1;
    }
  }

  &:not(:disabled):focus {
    --color-border-share-icon: var(--blue20);

    outline: none;
  }

  .shareIcon {
    aspect-ratio: 1;
    background-color: var(--color-background-share-icon, var(--turquoise70));
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-spacing-l);
    border: var(--color-border-share-icon, transparent) solid 2px;
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
