@use 'abstracts/mixins/appearance';
@use 'abstracts/functions';
@use 'abstracts/mixins/base';

.guided-experience-filters-button {
  display: flex;

  .a-svg {
    width: 18px;

    + .icon-text {
      margin-left: 10px;
    }
  }
}

.filters-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .filters-menu-content-wrapper {
    flex-grow: 3;
    overflow-y: scroll;
  }

  .filters-menu-close-button,
  .filters-menu-reset-button {
    margin: 30px auto 0;
  }

  .filters-menu-close-button {
    width: 100%;
  }

  .filters-menu-reset-button {
    @include appearance.button-secondary;
  }

  .lower-buttons-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include base.respond(functions.break(mobile-small), min) {
      flex-flow: row nowrap;
    }

    .filters-menu-close-button,
    .filters-menu-reset-button {
      width: 100%;
      min-width: 0;

      @include base.respond(functions.break(mobile-small), min) {
        width: calc(50% - 10px);
      }
    }
  }
}
