@use 'abstracts/mixins/appearance';
@use 'abstracts/functions';
@use 'abstracts/mixins/base';

.guided-experience-sort-button {
  .a-svg + .icon-text {
    margin-left: 5px;
  }
}

.sort-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .sort-menu-content-wrapper {
    flex-grow: 3;
    overflow-y: scroll;
  }

  .sort-menu-close-button, .sort-menu-reset-button {
    margin: 30px auto 0;
  }

  .sort-menu-close-button {
    width: 100%;
  }

  .sort-menu-reset-button {
    @include appearance.button-secondary;
  }

  .lower-buttons-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    @include base.respond(functions.break(mobile-small), min) {
      flex-flow: row nowrap;
    }

    .sort-menu-close-button, .sort-menu-reset-button {
      width: 100%;
      min-width: 0;

      @include base.respond(functions.break(mobile-small), min) {
        width: calc(50% - 10px);
      }
    }
  }
}
