@use 'abstracts/functions';

.guided-experience-sort-button {
  .a-svg + .icon-text {
    margin-left: 5px;
  }
}

.sort-menu {
  display: flex;
  flex-flow: column nowrap;

  .sort-menu-content-wrapper {
    overflow-y: scroll;
  }

  .lower-buttons-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .sort-menu-close-button, .sort-menu-reset-button {
      width: calc(50% - 10px);
      min-width: 0;
    }
  }

  .sort-menu-close-button, .sort-menu-reset-button {
    margin: 30px auto 0;
  }

  .sort-menu-reset-button {
    background-color: functions.palette(blue20);
    border-color: functions.palette(blue20);

    &:focus, &:hover {
      background-color: functions.palette(blue30);
      border-color: functions.palette(blue30);
    }
  }
}
