@use "abstracts/functions";
@use "abstracts/mixins/base";

@forward "./search";
@forward "./sort";

.secondary-header {
  padding: 2px 0;
  border-top: var(--color-rubin-gray-200) solid 1px;
  border-bottom: var(--color-rubin-gray-200) solid 1px;

  @include base.respond(functions.break(tablet), min) {
    margin: 0 auto;
    border: 0;
  }

  .secondary-items {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 15px;
    transition: max-width 0.2s;
    list-style: none;

    @include base.respond(functions.break(tablet), min) {
      max-width: 330px;
      margin: 0 auto;
    }
  }

  .guided-experience-sort-button,
  .guided-experience-filters-button,
  .guided-experience-search-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .icon-text {
      font-size: 14px;
      font-weight: var(--weight-font-normal);
      line-height: 1.5;
    }
  }
}
