// Overrides
.aladin-logo-container,
.aladin-fov,
.aladin-location,
.aladin-gotoControl-container,
.aladin-zoomControl {
  display: none;
}

.aladin-measurement-div {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

// Layout
.aladin-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
}
