@use "abstracts/functions";

.orientation-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--neutral90);
  border-radius: 50%;
}
