@use 'abstracts/functions';

.share-button, {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: functions.palette(neutral90);
  border-radius: 50%;
  z-index: functions.z-stack(controls);

  svg {
    width: 22px;
    height: 22px;
    fill: functions.palette(white);
  }
}
