@use "abstracts/_functions";

.controlsSubmenu {
  position: absolute;
  z-index: functions.z-stack(controls);
}

.viewControls {
  composes: controlsSubmenu;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "markers orientation"
    ". grid";
  gap: var(--size-spacing-2xs);
  list-style: none;
}

.markers {
  grid-area: markers;
}
.orientation {
  grid-area: orientation;
}
.grid {
  grid-area: grid;
}

.zoomContainer {
  composes: controlsSubmenu;
  top: calc(50% - 50px);
  right: 0;
}
