.aladin-container {
  position: absolute !important; /* stylelint-disable-line declaration-no-important */
  inset: 0;
  background-color: var(--black);
  border: 0 !important; /* stylelint-disable-line declaration-no-important */
  width: 100%;
  height: 100%;

  &[data-show-logo="false"] {
    .aladin-logo-container {
      display: none;
    }
  }
}

.aladin-table {
  display: none;
}
