.headerLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--size-spacing-s);
}

.headerLogoCover {
  font-weight: var(--weight-font-normal);
  letter-spacing: 1ch;
  margin: 0;
  text-transform: uppercase;
}

.logoImage {
  width: auto;
}
