@use "abstracts/functions";
@use "abstracts/mixins/base";
@use "abstracts/mixins/appearance";
@use "abstracts/mixins/typography";

.share-menu {
  .open-share-button {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: functions.z-stack(controls);

    svg {
      width: 22px;
      height: 22px;
      fill: var(--white);
    }
  }

  .close-button {
    @include base.respond(functions.break(desktop-height), min, height) {
      @include appearance.hidden;
    }
  }

  &.is-open {
    .open-share-button {
      @include base.respond(functions.break(desktop-height), min, height) {
        z-index: functions.z-stack(controls);
      }
    }
  }

  .modal {
    left: -100vw;
    z-index: functions.z-stack(modal);
    background-color: transparent;
    transition: left 0.4s ease-in-out;

    &.is-open {
      left: 0;

      @include base.respond(functions.break(desktop-height), min, height) {
        bottom: 70px;
        padding: 0 16px;
        background-color: transparent;
      }
    }

    .modal-inner {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 6px 18px 12px;
      background-color: var(--black);
      border-radius: 2px;

      @include base.respond(functions.break(mobile), min) {
        width: auto;
        max-width: functions.break(mobile);
      }

      @include base.respond(functions.break(desktop-height), min, height) {
        bottom: 70px;
        padding: 0 16px;
        background-color: transparent;
      }
    }
  }

  .modal-heading {
    @include typography.subheading-menu;

    @include base.respond(functions.break(desktop-height), min, height) {
      @include appearance.hidden;
    }
  }

  .share-buttons-horizontal {
    flex-flow: row wrap;
    margin-left: -20px;

    @include base.respond(functions.break(mobile), min) {
      flex-flow: row nowrap;
    }

    @include base.respond(functions.break(desktop-height), min, height) {
      flex-flow: column nowrap;
      margin-top: 0;
    }

    > li {
      margin-top: 15px;
      margin-left: 20px;
    }

    > li + li {
      @include base.respond(functions.break(desktop-height), min, height) {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}
