.shareMenu {
  display: flex;
  align-items: center;
  z-index: var(--elevation-element-controls);
}

.shareMenuButton {
  &:focus-within {
    outline: none;
  }
}

.shareMenuItems {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: var(--size-spacing-xs);
  list-style: none;
  position: absolute;
  bottom: calc(var(--size-spacing-l) + var(--size-spacing-xs));
  font-size: 0.75rem;
  opacity: 0;
  transition: 0.3s transform, 0.3s opacity;
  transform: translateX(calc(-100% - var(--size-padding-overlay)));
  z-index: -1;

  &[data-open] {
    opacity: 1;
    transform: translateX(0);
  }
}
