.overlay {
  gap: var(--size-spacing-2xs);
}

.viewScale {
  @media (--tablet-max) {
    width: 100%;
  }
}

.nonViewScale {
  @media (--tablet-max) {
    position: relative;
    height: 100%;
    pointer-events: none;
  }
}

.viewScaleContainer {
  @media (--tablet-max) {
    position: static;
    justify-self: stretch;

    &[data-horizontal] {
      transform: none;
    }
  }
}

.search {
  --size-height-menu: 0px;
}
