.overlay {
  gap: var(--size-spacing-2xs);
}

.viewScale {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  @media (--tablet-max) {
    position: static;
    justify-self: stretch;
    transform: none;
  }
}

.nonViewScale {
  @media (--tablet-max) {
    position: relative;
    height: 100%;
    pointer-events: none;
  }
}

.search {
  --size-height-menu: 0px;
}
