@use 'abstracts/functions';

.controls .control-button.search-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: functions.z-stack(controls);
  background-color: functions.palette(white);

  svg {
    width: 16px;
    height: 16px;
    fill: functions.palette(black);
    transition: fill 0.4s;
  }

  &:focus {
    background-color: functions.palette(blue15);
  }

  &.active, &:hover {
    svg {
      fill: functions.palette(white);
    }
  }
}
