@use "abstracts/functions";

// Pages
@forward "guided-experiences/styles";
@forward "tours/styles";
@forward "tours/[tour]/styles";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--window-height, 100vh) - var(--home-nav-height, 95px));
  padding: 18px;
  background-color: var(--black);

  .logo-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    .full-logo {
      width: 150px;
    }

    .headline {
      font-weight: var(--weight-font-normal);
      letter-spacing: 1ch;
      margin: 0;
      color: var(--white);
    }
  }

  .home-nav-container {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 17px;
    background-color: var(--black);
  }

  .home-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style: none;
    max-width: functions.container-width(regular);
    margin: 0 auto;

    .button {
      width: 100%;
      white-space: nowrap;
    }

    .home-nav-item {
      width: 50%;
      max-width: 300px;

      + .home-nav-item {
        margin-left: 4%;
      }
    }
  }
}
