.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1lh;
  position: relative;
}

.viewScale {
  background-color: #30e0e3;
  border-radius: 5px;
  color: var(--color-font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-font-14-14);
  font-variant-numeric: tabular-nums;
  gap: 1ex;
  padding-inline: var(--size-spacing-m);
  white-space: nowrap;
  width: 100%;
}

.closeButton {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  transition: 0.2s ease-out transform;

  &:hover,
  &:focus-visible {
    transform: scale(1.25);
  }
}

.openButton {
  --opacity-icon: 0.5;
  --color-outline-icon: transparent;

  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  touch-action: manipulation;
  position: absolute;

  &:hover,
  &:focus-visible {
    --opacity-icon: 1;
    --color-outline-icon: currentColor;
  }

  & svg {
    opacity: var(--opacity-icon);
    border-radius: 50%;
    aspect-ratio: 1;
    color: var(--color-font-invert);
    backdrop-filter: blur(2px);
    transition: opacity 0.2s ease-out, outline-color 0.2s ease-out;
    outline: 2px solid;
    outline-color: var(--color-outline-icon);
  }
}
