.viewScale {
  background-color: #30e0e3;
  border-radius: 5px;
  color: var(--color-font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-font-14-14);
  font-variant-numeric: tabular-nums;
  gap: 1ex;
  padding-inline: var(--size-spacing-m);
  white-space: nowrap;
}

.closeButton {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}

.openButton {
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  touch-action: manipulation;

  & svg {
    border-radius: 50%;
    aspect-ratio: 1;
    color: var(--color-font-invert);
    backdrop-filter: blur(2px);
  }
}
