@use "abstracts/functions";

.controls {
  .control-button.zoom-in,
  .control-button.zoom-out {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-spacing-l);
    height: var(--size-spacing-l);
    background-color: var(--color-font-invert);
    color: var(--color-font-primary);
    border-radius: 50%;

    &:hover {
      color: var(--color-font-invert);
    }
  }
}

.zoom-in {
  margin-bottom: 12px;
}
