@use "abstracts/mixins/appearance";
@use "abstracts/functions";
@use "abstracts/mixins/base";

.nav-link {
  @include appearance.button-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 17px auto 0;

  @include base.respond(functions.break(mobile), min) {
    max-width: 369px;
  }

  @include base.respond(functions.break(tablet), min) {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  &.small {
    margin: 0;
  }

  &.icon-before,
  &.icon-after {
    svg {
      display: none;

      @include base.respond(functions.break(desktop), min) {
        display: block;
      }
    }
  }

  &.icon-before {
    svg {
      margin-right: 14px;
    }
  }

  &.icon-after {
    svg {
      margin-left: 14px;
    }
  }
}
