.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-font-primary);
  color: var(--color-font-invert);
  cursor: pointer;
  width: var(--size-spacing-l);
  height: var(--size-spacing-l);
  transition: background-color 0.4s;

  &:hover,
  &[data-checked="true"] {
    background-color: var(--color-background-button-primary-hover);
  }

  &:focus-within {
    outline: 2px solid var(--color-font-invert);
  }
}
