@use 'abstracts/functions';

.filters-button {
  position: absolute;
  top: 52px;
  left: 0;
  z-index: functions.z-stack(controls);

  svg {
    width: 22px;
    height: 22px;
    fill: functions.palette(white);
  }
}

.filters-menu {
  display: flex;
  flex-flow: column nowrap;

  .filters-menu-content-wrapper {
    overflow-y: scroll;
  }

  .menu-section {
    .checkboxes {
      padding-top: 20px;
    }
  }
}

.filters-menu-close-button {
  display: block;
  min-width: 160px;
  padding: 16px;
  margin: 30px auto 0;
  font-size: 16px;
  font-weight: functions.font-weight(bold);
  line-height: 1.6;
  color: functions.palette(white);
  background-color: functions.palette(turquoise85);
  border-radius: 5px;
}
