@use 'abstracts/functions';

.filters-button {
  position: static;
  background-color: functions.palette(turquoise55);

  svg {
    width: 22px;
    height: 22px;
    fill: functions.palette(white);
  }
}
